section#contact
    .inner
        section.split
            section
                .contact-method
                    span.icon.alt.fa-envelope
                    h3 Email
                    a(href='mailto:consultas@apna.com.ar') consultas@apna.com.ar
            section
                .contact-method
                    span.icon.alt.fa-phone
                    h3 Tel.
                    span 15 5923 6500
// Footer
footer#footer
    .inner