title APNA: asistencia psicoterap&eacute;utica de ni&ntilde;os y adolescentes
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
//if lte IE 8
	script(src='assets/js/ie/html5shiv.js')
link(rel='stylesheet', href='assets/css/main.css')
//if lte IE 9
	link(rel='stylesheet', href='assets/css/ie9.css')
//if lte IE 8
	link(rel='stylesheet', href='assets/css/ie8.css')
meta(name='keywords', content='asistencia psicoterapéutica, niños, adolescentes, Orientación a padres, psicologia, terapia, dinardi, andersen')
meta(name='designer', content="mario@orph.eu using Codrop's SplitLayout blueprint'")
meta(name='twitter:title', property='og:title', itemprop='title name', content='APNA: asistencia psicoterapéutica de niños y adolescentes')
meta(property='og:type', content='website')
meta(property='og:image', content='http://apna.com.ar/logo-he.png')
meta(property='og:url', content='http://apna.com.ar')
meta(property='og:description', name='description', content='Somos Psicólogas especializadas en la atención de niños y adolescentes')
link(rel='shortcut icon', href='logo.png')